<div class="container pt-4">
  <div class="row">
    <div class="col-2 px-0">
      <nav class="nav flex-column">
        <a class="nav-link fs-5 fw-bold my-1 px-1 mb-3" href="/">首頁</a>

        <a class="nav-link fs-5 fw-bold my-1 px-1 mb-3 btn btn-outline-primary active" style="width:50%" href="/detail">詳細資料</a>

        <a class="nav-link fs-5 fw-bold my-1 px-1 mb-3" href="/create">建立</a>

        <a class="nav-link fs-5 fw-bold my-1 px-1 mb-3" href="/profile/{{user.id}}">帳戶設定</a>

      </nav>
    </div>

    <div class="col-7 border-start border-end ">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item px-3">
            <a class="nav-link {{#ifCon '' categoryId}}active{{/ifCon}}" href="?categoryId=">全部</a>
          </li>
          {{#each categories}}
          <li class="nav-item px-3">
            <a class="nav-link {{#ifCon this.id ../categoryId}}active{{/ifCon}}"
              href="?categoryId={{this.id}}">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <br>
      <div class="col">
      <form action="/detail{{#if categoryId}}?categoryId={{categoryId}}{{/if}}" method="POST">
        <div class="input-group" style="width: 50%;">
          <span class="input-group-text"> 年 / 月</span>
          <input type="text" aria-label="year" name="year" value="{{year}}" class="form-control">
          <input type="text" aria-label="month" name="month" value="{{month}}" class="form-control">
          <select class="form-select" name="order" aria-label="Default select example">
            <option value="{{order}}">{{orderToString}}</option>
            <option value="1">依建立時間</option>
            <option value="2">依金額 大=>小</option>
            <option value="3">依金額 小=>大</option>
          </select>
          <button type="submit" class="btn btn-primary">查詢</button>
        </div>
      </form>
      </div>
    
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="display: none">#</th>
            <th scope="col">名稱</th>
            <th scope="col">類別</th>
            <th scope="col">金額</th>
            <th scope="col">消費時間</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {{#each accounts}}
          <tr>
            <th scope="row" style="display: none">{{ this.id }}</th>
            <td>{{ this.name }}</td>
            <td>{{ this.categoryIdToString }}</td>
            <td>{{ this.price }}</td>
            <td>{{ this.date }}</td>
            <td>
              <a href="/edit/{{ this.id }}" class="btn btn-primary">修改</a>
              <a href="/delete/{{ this.id }}" class="btn btn-danger">刪除</a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <br><br>
      <div class="row justify-content-end">
        <div class="col-4">
          已消費金額
          {{ total }} 元
        </div>
      </div>
    </div>
    
    <div class="col-3">
      <canvas id="dayliChart" width="40" height="100"></canvas>
    </div>
  
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('dayliChart');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Day1', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6', 'Day7', 'Day8', 'Day9', 'Day10', 'Day11', 'Day12', 'Day13', 'Day14', 'Day15', 'Day16', 'Day17', 'Day18', 'Day19', 'Day20', 'Day21', 'Day22', 'Day23', 'Day24', 'Day25', 'Day26', 'Day27', 'Day28', 'Day29', 'Day30', 'Day31'],
      datasets: [{
        label: '單日消費',
        data: [{{ charts }}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
       indexAxis: 'y',
    }
  });
</script>
